.menu-screen {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.main-screen {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  /* float: right; */
}

.white-text {
  color: white
}

.yellow-text {
  color: yellow
}