.menu-screen {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.main-screen {
  /* display: inline-block; */
  width: 79%;
  vertical-align: top;
  float: right;
}

.split-screen {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.long-entry {
  width: 100%;
}

.short-entry {
  width: 88%;
  float: right;
}

.single-entry {
  display: inline-block;
  width: 11%;
}

.center-stage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.spacer-5 {
  display: inline-block;
  width: 5%;
  vertical-align: top;
}

.element-screen {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  margin: 1px;
}

.white-text {
  color: white
}

.yellow-text {
  color: yellow
}